<div class="container">
  <%= simple_form_for(holiday) do |f| %>
    <%= f.input :city, label: "Stadt" %>
    <%= f.input :country, label: "Land" %>
    <%= f.input :description , label: "Beschreibung" %>
    <%= f.input :rating, label: "Bewertung (0 = nicht empfehlenswert; 5 = sehr gut)", collection: 0..5 %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, "Absenden", class: "submit-button" %>
  <% end %>
</div>
