<div class="container">
  <h1>Alle Urlaubsziele</h1>
  <br>

  <%= link_to "Füge neuen Urlaubsort hinzu.", new_holiday_path %>
  <br><br>

  <% @holidays.each do |holiday| %>
    <div class="card" style="width: 24rem;">
      <%= cl_image_tag holiday.photo.key, class: "card-img" %>
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to holiday.city, holiday, class: "stretched-link" %>, <%= holiday.country %>
          </h5>
          <%= "⭐" * holiday.rating %>
          <br><br>
          <p class="card-text">
            <%= holiday.description %>
          </p>
        </div>
    </div>
    <br>
  <% end %>
</div>
