<div class="container">
  <h1>Alle Urlaubsziele</h1>
  <br>

  <%= link_to "Füge neuen Urlaubsort hinzu.", new_holiday_path %>
  <br><br>




  <% @holidays.each do |holiday| %>
    <div class="card w-50">
      <%= cl_image_tag holiday.photo.key %>
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to holiday.city, holiday %>, <%= holiday.country %> <%= "*" * holiday.rating %>
          </h5>
          <p class="card-text">
            <%= holiday.description %>
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <br>
  <% end %>




</div>
