<div class="banner-image">
  <%= image_tag("holiday_banner.jpg") %>
  <div class="centered">
    <h1>Urlaubsideen</h1>
    <br>
    <h2>Entdecke spannende neue Vorschläge für deine nächste unvergessliche Urlaubsreise!</h2>
  </div>
</div>

<div class="container">
  <div class="homepage-text">
    <p>Lust auf eine unvergessliche Urlaubsreise, aber keine Ahnung wo es hingehen soll? Lass dich von uns inspirieren! Hier findest du tolle Urlaubideen für deine nächste Reise!
    <br><br>Vielleicht möchtest du stattdessen deinen Mitmenschen von deiner letzen Urlaubsreise berichten? Kein Problem! Nenne uns einfach das Land und die Stadt, beschreibe kurz das Reiseziel und lade ein Foto der Gegend hoch und schon können andere Nutzer an deinen Erfahrungen teilhaben.
    </p>
  </div>

  <button class="new-button"><span>
    <%= link_to "Reiseziel hinzufügen", new_holiday_path, class: "button-text" %>
  </span></button>

  <div class="homepage-subtitle">
    <h3>Angesagte Reiseziele</h3>
  </div>

  <div class="cards-container">
    <% @holidays.each do |holiday| %>
      <div class="card" style="width: 24rem;">
        <%= cl_image_tag holiday.photo.key, class: "card-img card-size" %>
          <div class="card-body">
            <h4 class="card-title">
              <%= link_to holiday.city, holiday, class: "stretched-link" %>, <%= holiday.country %>
            </h4>
            <%= "⭐" * holiday.rating %>
            <p class="card-text">
              <%= holiday.description.split[0..25].join(' ') + " ..." %>
            </p>
          </div>
      </div>
    <% end %>
  </div>

  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
