<div class="banner-image">
  <%= image_tag("holiday_banner.jpg") %>
  <div class="centered">
    <h1>Urlaubsideen</h1>
    <br>
    <h2>Entdecke spannende neue Vorschläge für deinen nächsten unvergesslichen Urlaub!</h2>
  </div>
</div>

<div class="container">
  <div class="homepage-text">
    <p>Lust auf eine unvergessliche Urlaubsreise, aber keine Ahnung wo es hingehen soll? Lass dich von uns inspirieren!
    <br>Hier findest du tolle Urlaubideen für deine nächste Reise!
    <br>Vielleicht möchtest du stattdessen anderen Nutzern von deiner letzen Urlaubsreise berichten? Kein Problem! Nenne uns einfach das Land und die Stadt, beschreibe das Reiseziel kurz und lade ein Foto der Gegend hoch und schon können andere Nutzer an deinen Erfahrungen teilhaben.
    </p>
</div>

  <%= link_to "Füge neuen Urlaubsort hinzu.", new_holiday_path %>
  <br><br>

  <div class="homepage-subtitle">
  <h3>Reiseempfehlungen unserer Nutzer</h3>
  </div>

  <div class="cards-container">
    <% @holidays.each do |holiday| %>
      <div class="card" style="width: 24rem;">
        <%= cl_image_tag holiday.photo.key, class: "card-img card-size" %>
          <div class="card-body">
            <h4 class="card-title">
              <%= link_to holiday.city, holiday, class: "stretched-link" %>, <%= holiday.country %>
            </h4>
            <%= "⭐" * holiday.rating %>
            <p class="card-text">
              <%= holiday.description %>
            </p>
          </div>
      </div>
    <% end %>
  </div>
</div>
